/* Add this at the bottom of Watchlist.css */

.watchlist-container.light {
  background-color: #f2f4f8;
  color:white;
}

.watchlist-container.light h2 {
  color: black;
  text-shadow: none;
}

.watchlist-container.light .movie-card {
  background-color: #fff;
  
}

.watchlist-container.light .movie-card h4 {
  color:white;
}

.watchlist-container.light .movie-card p {
  color: white;
}

.watchlist-container.light .remove-btn {
  color: white;
  border-color: #d00;
}

.watchlist-container.light .remove-btn:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
